/* Login section */
.admin_login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/assets/DSC_6336.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.admin_login_section div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f2f4f7;
  border-radius: 8px;
}
.login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/assets/everyone.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.login_section div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f2f4f7;
  border-radius: 8px;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 45px;
}


.input_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.input_box label {
  color: #141414;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.questions {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.question {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.question:hover {
  text-decoration: underline;
}

.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit_btn:hover {
  background: linear-gradient(90deg, #d13f87 11.45%, #d13f87 11.45%);
}

.submit_error_msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  background-color: #f58b8b;
  padding: 15px 26px 13px 27px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.processing_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ce46a3 11.45%, #b9599a 11.45%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}