/* Nav section */
.all {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
}

.logoImg {
  width: 180px;
}
.logo {
  margin-right: auto;
  margin-left: 40px;
  margin-top: -20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 21px 60px;
}
